* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* header */
header {
    position: relative;
    height: 80px;
    background-color: #3161e0;
}

.logo {
    position: absolute;
    top: 40%;
    left: 10%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

nav span {
    margin-right: 12px;
    font-size: 13px;
}

.login {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-left: 40px;
    position: absolute;
    top: 35%;
    right: 10%;
    font-size: 13px;
}

/* jumbotron */
section div {
 height: 400px;
}

section img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;
}

section h1 {
    font-size: 45px;
    margin-bottom: 25px;
}

section p {
    font-size: 18px;
}

.buttons {
    margin-top: 25px;
}

.download {
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    margin-left: 20px;
}

.open_browser {
    background-color: #23272a;
    padding: 15px;
    border-radius: 25px;
}

/* prima sezione */
.first_section {
    content: "";
    display: table;
    clear: both;
    position: relative;
    width: 100%;
    height: 400px;
    text-align: left;
}

.float {
    float: left;
}

.col_sx {
    width: 50%;
    height: 400px;
    padding-left: 250px;
    padding-top: 50px;
}

.col_sx img {
    width: 500px;
}

.col_dx {
    width: 50%;
    height: 400px;
    position: relative;
}

.text_first_section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_first_section h1 {
    margin-bottom: 20px;
}

.text_first_section p {
    line-height: 20px;
}

/* footer */
footer {    
    background-color: #23272a;
}

.footer_margin {    
    height: 400px;
    margin-left: 200px;
    margin-right: 200px;
}

/* prima colonna */
.first_column {
    width: 300px;
}

.first_column h1{
    color: #7188d8;
    margin-top: 30px;
}

.first_column img {
    width: 20px;
    border-radius: 2px;
    margin-top: 15px;
}

.first_column span {
    color: white;
    font-size: 12px;
    vertical-align: center;
}

.fab {
    color: white;
    margin-right: 20px;
    margin-top: 20px;
}

/* seconda colonna */
.second_column {
    width: 180px;
}

.footer_options {
    margin-bottom: 10px;
    font-size: 13px;
}

.first_option {
    color: #7188d8;
    margin-top: 40px;
}

.other_options {
    color: white;
}

/* terza colonna */
.third_column {
    width: 180px;
}

.fourth_column {
    width: 180px;
}

.fifth_column {
    width: 180px;
}